.grid-container {
    max-width: 1200px;
}

div.parent {
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    color: #fff;
    position: relative;
    
}

div.parent header {
    padding: 25px  0px;
    position: relative;
    border-bottom: rgb(165, 136, 109) 3px solid;
}

div.parent header a.logo {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    font-weight: 600;
    border-bottom: 0px;
    color: rgb(165, 136, 109);
    text-decoration: none;
}

div.parent header a.logo span {
    font-family: 'Times New Roman', Times, serif;
    font-size: 8px;
    font-weight: 200;
    color: rgb(255, 255, 255);
    position: absolute;
    padding-left: 35px;
    margin-top: 0px;
    text-decoration: none;
}


div.parent header ul.nav li {
    float: left;
    list-style: none;
}

div.parent header ul.nav {
    float: right;
}

div.parent header ul.navigation {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 13px;
}

div.parent header ul.navigation li {
    margin-right: 60px;
}

div.parent header ul.navigation li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    transition: all 250ms ease-in-out; 
}

div.parent header ul.navigation li a:hover {
    font-size: 16px;
}  

div.parent header ul.navigation li a:hover:after {
    content: "";
    height: 6px;
    width: 6px;
    position: absolute;
    margin-left: 7px;
    border-radius: 50%;
    background: #d60303;
}

div.parent header ul.social-icons {
 margin-top: 8px;   
}


div.parent header ul.social-icons li a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    padding: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4b4c68;
    border: 1px solid #4b4c68;
    transition: all 250ms ease-in-out; 
}

div.parent header ul.social-icons li a:hover {
    color: #d60303;
    background-color: #fff;
    height: 15px;
    width: 15px;
}

div.parent header ul.social-icons li:nth-child(1) a:hover {
    color: red;
}    

div.parent header ul.social-icons li:nth-child(2) a:hover {
    color: #00a8f3
}    

div.parent header ul.social-icons li:nth-child(3) a:hover {
    color: rgb(73, 73, 255);
}  

div.parent section {
    position: relative;
}

div.parent section.showcase {
    min-height:400px;
    background:url("../images/showcase.jpg") no-repeat 0, 0;
    margin-top: 0;
    text-align:center;
}



/* button */
div.parent section.showcase a.button-1 {
    background-color: rgb(255, 255, 255);
    border: rgb(165, 136, 109) 2px solid;
    padding: 10px 10px 10px 30px;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-size: 14px;
    letter-spacing: 5px;
    display: inline-flex;
    align-items: center;
}

div.parent section.showcase a.button-1 span {
    padding-right: 5px;
    position: relative;
}

div.parent section.showcase a.button-1 i {
    position: relative;
}

div.parent section.showcase a.button-1:after {
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.199);
    border: rgb(165, 136, 109) 2px solid;
}

div.parent section.showcase a.button-1:hover span {
    animation: anim-button-1-text 250ms linear forwards;
}

div.parent section.showcase a.button-1:hover i {
    animation: anim-button-1-icon 250ms linear forwards;
}

div.parent section.showcase a.button-1:hover:after {
    animation: anim-button-1-after 250ms linear forwards;
}

@keyframes anim-button-1-text {
    from {
        left: 0px;
    }

    to {
        left: 10px;
    }
}

@keyframes anim-button-1-icon {
    from {
        left: 0px;
    }

    to {
        left: 24px;
        transform: scale(2, 2);
        color: white;
    }
}

@keyframes anim-button-1-after {
    from {
        background-color: rgba(255, 255, 255, 0.199);
    }

    to {
        background-color: rgb(165, 136, 109);
    }
}

div.parent section h1.text {
    margin-top: 30px;
    text-transform: uppercase;
    text-align: left;
    font-size: 50px;
    color: rgb(95, 78, 60)
}

div.parent section h1.text span {
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 30px;
    color: rgb(0, 0, 0)
}

div.parent section.pos {
    margin-top: 10px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: rgb(255, 255, 255);
    text-align: center;
    border-bottom: rgb(255, 255, 255) 1px solid;

}

div.parent section.pos iframe.video {
    margin-bottom: 30px;
}

div.parent section.boxes {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-bottom: rgb(0, 0, 0) 30px solid;
    text-align: center; 
    text-decoration: none;  
}

div.parent section.boxes i {
    color: rgb(165, 136, 109);
    padding-left: 10px;
    margin-top: 12px;
}



div.parent section.boxes a {
    border: rgb(165, 136, 109) 1px solid;
    padding: 10px;
    border-radius: 30px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    transition: all 250ms ease-in-out; 
}

div.parent section.boxes a:hover {
    font-size: 16px;
}    

div.parent footer.footer {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 5px;      
}

div.parent footer.footer p {
    margin-bottom: 10px;      
}

div.parent footer.footer a {
    color: rgb(134, 91, 56);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    transition: all 250ms ease-in-out; 
}

div.parent footer.footer a:hover {
    font-size: 16px;     
}






